/repo/*
/alsa-lib-gpd-pocket/alsa-lib-*.tar.bz2
/alsa-lib-gpd-pocket/alsa-lib-gpd-pocket-*-x86_64.pkg.tar.xz
/alsa-lib-gpd-pocket/pkg/
/alsa-lib-gpd-pocket/src/
/gpd-pocket-keyring/gpd-pocket-keyring-*-any.pkg.tar.xz
/gpd-pocket-keyring/pkg/
/gpd-pocket-keyring/src/
/gpd-pocket-scrolling/gpd-pocket-scrolling-*-x86_64.pkg.tar.xz
/gpd-pocket-scrolling/master.zip
/gpd-pocket-scrolling/pkg/
/gpd-pocket-scrolling/src/
/gpd-pocket-support/gpd-pocket-support-*.pkg.tar.xz
/gpd-pocket-support/pkg/
/gpd-pocket-support/src/
/linux-jwrdegoede/linux.install.pkg
/linux-jwrdegoede/master.zip
/linux-jwrdegoede/src/